@import url('https://fonts.googleapis.com/css?family=Poiret+One|Quattrocento+Sans');

:root {
	/* Primary color palette */
	--chicago-maroon: #861F41;
	--burnt-orange: #E87722;
	--yardline-white: #FFFFFF;
	--hokie-stone: #75787B;

	/* Secondary color palette */
	--pylon-purple: #642667;
	--virginia-sunset: #ED8B00;
	--boundless-pink: #CE0058;
	--triumphant-yellow: #F7EA48;
	--sustainable-teal: #508590;
	--vibrant-turquoise: #2CD5C4;
	--land-grant-grey: #D7D2CB;
	--skipper-smoke: #E5E1E6;
	--burnt-orange-web: #C64600;
	--cadet-blue: #003C71;

	/* Theme Colors */
	--text-color: #212529;
	--main-background-color: #f7f7f7;
	--primary-color: var(--chicago-maroon);

	/* Element colors */
	--nav-bar-background: var(--chicago-maroon);
	--nav-bar-option: #FFFFFFcc;
	--nav-bar-option-hover: #FFFFFF;
	--nav-bar-option-active: #FFFFFF;

	
}

body * {
	font-family: 'Quattrocento Sans', sans-serif;
}


body {
	background: var(--main-background-color) !important;
}

nav {
	user-select: none;
	background: var(--nav-bar-background);
	justify-content: start !important;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

nav a {
	color: var(--nav-bar-option);
	transition: .2s;
	letter-spacing: .5px;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	padding: 15px 20px;
	position: relative;
}

nav a:hover {
	color: var(--nav-bar-option-hover);
	transition: .2s;
}

nav a:after {    
	background: none repeat scroll 0 0 transparent;
	bottom: 7px;
	content: '';
	display: block;
	height: 1.5px;
	left: 50%;
	position: absolute;
	background: var(--nav-bar-option-active);
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

nav a:hover:after { 
	width: 75%;
	left: 13%;
}

.active {
	color: var(--nav-bar-option-active);
}

.active::after {
	left: 12%;
	width: 75%;
}

.text-link {
	color: var(--primary-color) !important;
}

/*///////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////// OFFICERS PAGE START ///////////////////////////*/
.officer {
	animation: fadeInLeft 3s;
	background: #fff;
	position: relative;
	float: left;
	margin: 20px 3%;
	min-width: 230px;
	max-width: 380px;
	width: auto;
	text-align: center;
	line-height: 1.4em;
	font-size: 14px;
	border-bottom: 4px solid #2CD5C4;
}

.officer .officer-picture {
	display: inline-block;
	width: 80%;
	z-index: 1;
	position: relative;
	padding: 10px;
}

.officer-name {
	font-variant: small-caps;
	font-size: 25px;
}

.officer-position {
	font-size: 20px;
	font-variant: all-petite-caps;
	font-weight: bold;
	letter-spacing: 5px;
}

.officer-email {
	font-size: 18px;
	font-variant: all-petite-caps;
}

.officer-year {
	margin-bottom: 0;
	font-variant: small-caps;
	font-size: 16px;
}


/*//////////////////////////// OFFICERS PAGE END ////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/

.title-card {
	user-select: none;
	background: var(--nav-bar-background);
	height: 35vh;
	overflow: hidden;
}

.title-card img {
	width: 100vw;
}

.home-page {
	padding: 30px;
}

.home-page h1 {
	letter-spacing: 4px;
	animation: fadeIn 1.5s;
}

.home-page p {
	animation: fadeIn 2.5s;
}
/*STUFF*/
.media-links {
	animation: fadeIn 3.5s;
	list-style: none;
	padding: 0;
}

.media-links a {
	color: var(--text-color);
	transition: .25s;
}

.media-links a:hover {
	color: var(--primary-color)
}
/*END OF STUFF*/

.about-page {
	padding: 30px;
}

.about-page h1 {
	letter-spacing: 4px;
	animation: fadeIn 1.5s;
}

.about-page ul {
	animation: fadeIn 2.5s;
}

.contact-page {
	padding: 30px;
}

.contact-page h1 {
	letter-spacing: 4px;
	animation: fadeIn 1.5s;
}


@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}