@import url('https://fonts.googleapis.com/css?family=Poiret+One|Quattrocento+Sans');

:root {
	/* Primary color palette */
	--chicago-maroon: #861F41;
	--burnt-orange: #E87722;
	--yardline-white: #FFFFFF;
	--hokie-stone: #75787B;

	/* Secondary color palette */
	--pylon-purple: #642667;
	--virginia-sunset: #ED8B00;
	--boundless-pink: #CE0058;
	--triumphant-yellow: #F7EA48;
	--sustainable-teal: #508590;
	--vibrant-turquoise: #2CD5C4;
	--land-grant-grey: #D7D2CB;
	--skipper-smoke: #E5E1E6;
	--burnt-orange-web: #C64600;
	--cadet-blue: #003C71;

	/* Theme Colors */
	--text-color: #212529;
	--main-background-color: #f7f7f7;
	--primary-color: var(--chicago-maroon);

	/* Element colors */
	--nav-bar-background: var(--chicago-maroon);
	--nav-bar-option: #FFFFFFcc;
	--nav-bar-option-hover: #FFFFFF;
	--nav-bar-option-active: #FFFFFF;
}

body * {
	font-family: 'Quattrocento Sans', sans-serif;
}


body {
	background: var(--main-background-color) !important;
}

nav {
	user-select: none;
	background: var(--nav-bar-background);
	justify-content: start !important;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

nav a {
	color: var(--nav-bar-option);
	transition: .2s;
	letter-spacing: .5px;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	padding: 15px 20px;
	position: relative;
}

nav a:hover {
	color: var(--nav-bar-option-hover);
	transition: .2s;
}

nav a:after {    
	background: none repeat scroll 0 0 transparent;
	bottom: 7px;
	content: '';
	display: block;
	height: 1.5px;
	left: 50%;
	position: absolute;
	background: var(--nav-bar-option-active);
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

nav a:hover:after { 
	width: 75%;
	left: 13%;
}

.icon::after {
	content: none !important;
}

.icon {
	display: none;
	padding-top: 0;
    padding-bottom: 0;
}

.active {
	color: var(--nav-bar-option-active);
}

.active::after {
	left: 12%;
	width: 75%;
}

.text-link {
	color: var(--primary-color) !important;
	font-weight: bold;
}

main {
	max-width: 900px !important;
	padding: 30px;
}

main p, main ul {
	font-size: 18px;
}

.media-links {
	animation: fadeIn 3.5s;
	list-style: none;
	padding: 20px 0 0 0;
}

.link {
	color: var(--text-color);
	transition: .25s;
}

.link:hover {
	color: var(--primary-color)
}

#occupation {
	display: none;
}

/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////// HOME PAGE START /////////////////////////////*/

.home-page {
	padding: 30px;
}

.home-page h1 {
	letter-spacing: 4px;
	animation: fadeIn 1.5s;
}

.home-page p {
	animation: fadeIn 2.5s;
}

/*////////////////////////////// HOME PAGE END //////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////// GET INVOLVED PAGE START /////////////////////////*/

.get-involved-page {
	padding: 30px;
}

.get-involved-page h1 {
	letter-spacing: 4px;
	animation: fadeIn 1.5s;
}

.get-involved-page p, ul {
	animation: fadeIn 2.5s;
}

.event-card {
	animation: fadeInLeft 2s;
	background: #fff;
    padding: 24px;
    border-radius: 2px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
    			0 2px 2px 0 rgba(0,0,0,.14),
    			0 1px 5px 0 rgba(0,0,0,.12);
    margin-top: 24px;
    margin-bottom: 36px;
}

.event-calendar {
	animation: fadeInLeft 2s;
	background: #fff;
    padding: 16px !important;
    border-radius: 2px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
    			0 2px 2px 0 rgba(0,0,0,.14),
    			0 1px 5px 0 rgba(0,0,0,.12);
    margin-top: 36px;
    margin-bottom: 30px;
}

.pin-container {
	text-align: center;
}

.pin {
	animation: fadeInLeft 2s;
	width: 20%;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
    			0 2px 2px 0 rgba(0,0,0,.14),
    			0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 100%;
    margin: 0 6% 0 6%;
}

.get-involved-page h2 {
	margin-top: 2rem;
}


/*///////////////////////// GET INVOLVED PAGE START /////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////// OFFICERS PAGE START ///////////////////////////*/

.officer-row {
	display: inline-block;
	margin: 0 auto;
}

.officers-page {
	text-align: center;
	padding: 0 30px 0 30px;
	max-width: 100% !important;
}

.officer {
	animation: fadeInLeft 2s;
	background: #fff;
	margin: 30px 15px;
	min-width: 230px;
	max-width: 325px;
	width: 40%;
	text-align: center;
	line-height: 1.4em;
	font-size: 14px;
	border-bottom: 4px solid #2CD5C4;
	display: inline-block;
}

.officer .officer-picture {
	display: inline-block;
	width: 80%;
	z-index: 1;
	position: relative;
	padding: 10px;
}

.officer-name {
	font-variant: small-caps;
	font-size: 25px;
}

.officer-position {
	font-size: 20px;
	font-variant: all-petite-caps;
	font-weight: bold;
	letter-spacing: 5px;
}

.officer-email {
	font-size: 18px;
	font-variant: all-petite-caps;
}

.officer-year {
	margin-bottom: 0;
	font-variant: small-caps;
	font-size: 16px;
}

/*//////////////////////////// OFFICERS PAGE END ////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/

.title-card {
	user-select: none;
	background: var(--nav-bar-background);
	overflow: hidden;
	height: 200px;
	background-image: url('../img/title-background.jpg');
	background-size: cover;
	background-position: center;
	max-width: 100% !important;
}

.title-card img {
	width: 100vw;
}

.sponsor-page {
	padding: 30px;
}

.sponsor-page h1 {
	letter-spacing: 4px;
	animation: fadeIn 1.5s;
}

.sponsor-page p, ul, h2 {
	animation: fadeIn 2.5s;
}

/*///////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////// CONTACT PAGE START ////////////////////////////*/

.contact-page {
	padding: 30px;
}

.contact-page h1 {
	letter-spacing: 4px;
	animation: fadeIn 1.5s;
}

.contact-page form {
	letter-spacing: .5px;
	font-variant: small-caps;
	animation: fadeIn 2.5s;
}

.contact-page form {
	padding-bottom: 40px;
}

.contact-page label {
	display: block;
	padding-top: 10px;
}

#send-to-user {
	display: inline-block;
}


/*/////////////////////////// CONTACT PAGE START ////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/


@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

/* Mobile Styles */
@media screen and (max-width: 598px) {
	nav {
		justify-content: space-between !important;
	}
	.icon {
		display: block;
	}
	nav a:not(:first-child):not(:last-child) {
		display: none;
	}

	.responsive {
		display: block !important;
	}

	.responsive a {
		display: block !important;
		text-align: center;
	}

	.responsive .active::after {
	    left: 35%;
		width: 30%;
	}

	.responsive a:hover:after { 
		left: 35%;
		width: 30%;
	}

	.responsive a:last-child {
		display: none !important;
	}
}
